html,
body {
    padding: 0;
    margin: 0;
}

.fixed-div {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 50px;
    background-color: gray;
    color: #e3e3e3;
    font-size: 48;
    z-index: 1;
}

.fixed-div,
.fixed-div-occupy {
    height: 64px;
}

.outer-div {
    position: relative;
    margin: 40px;
    background-color: #e3e3e3;
    width: 400px;
    height: 400px;
}

.inner-div {
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    opacity: .5;
}

.inner-box-1-2,
.inner-box-2-2,
.inner-box-3-2 {
    position: absolute;
    background-color: green;
}

.inner-box-2-1 {
    position: relative;
    background-color: red;
    top: 100px;
    left: 100px;
}

.inner-box-1-1 {
    position: absolute;
    background-color: red;
    top: 100px;
    left: 100px;
}

.inner-box-3-1 {
    position: fixed;
    background-color: red;
    left: 600px;
    top: 120px;
}