html {
    height: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
    position: relative;
}

.holy-grail {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header,
footer {
    flex: 1;
}

/* header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.8;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
} */

.holy-grail-body {
    display: flex;
    flex: 1;
}

.holy-grail-content {
    flex: 1;
}

.holy-grail-nav,
.holy-grail-ads {
    flex: 0 0 12em;
    background-color: orange;
    text-align: center;
}

.holy-grail-nav {
    order: -1;
    background-color: blue;
    text-align: center;
}

.grail-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.grail-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 25%;
}